{% extends "layout.html.twig" %}

{% block title %}Commentaire sur le {{ article.title }}{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="titleComment">{{ article.title }}</h2><hr>
        {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ flashMessage }}
        </div>
        {% endfor %}
        <div class="col-xl-12">
            <h3 class="commentDesignTitle">Commentaires</h3>
            {% for comment in comments %}
            <div class="commentDesignContent">
                <p><strong>{{ comment.author }} a dit :</strong> {{ comment.content|nl2br }}</p><br>
                <small class="pull-right">Publié le {{ comment.date }} par {{ comment.author }}</small><br>
                <a href="{{ path('comment_flagged', { 'id': comment.id }) }}" type="button" class="btn btn-xs pull-right btnRed mt-9" title="Signaler ce commentaire comme abusif">Abusif <span class="glyphicon glyphicon-ban-circle"></span></a>
                <a href="#" type="button" class="btn btn-xs pull-right btnBlue mt-9 mr-9" title="Répondre à ce commentaire">Répondre <span class="glyphicon glyphicon-pencil"></span></a>
            </div>
            {% else %}
            <p class="col-xl-12">Il n'y a pas encore de commentaire sur ce chapitre. Souhaitez-vous être le premier à laisser un commentaire ?</p><br>
            {% endfor %}
            <hr><br>
            <h3 class="commentDesignTitle">Ajoutez un commentaire</h3>
            {{ form_start(commentForm) }}
                <div class="form-group">
                    {{ form_errors(commentForm.author) }}
                    {{ form_widget(commentForm.author, { 'attr':  {
                        'rows': '1',
                        'class': 'form-control',
                        'placeholder': 'Entrez votre pseudonyme',
                        'value': ''
                    }}) }}
                    {{ form_errors(commentForm.email) }}
                    {{ form_widget(commentForm.email, { 'attr':  {
                        'rows': '1',
                        'class': 'form-control',
                        'placeholder': 'Entrez votre Email',
                        'value': ''
                    }}) }}
                    {{ form_errors(commentForm.content) }}
                    {{ form_widget(commentForm.content, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Entrez votre commentaire'
                    }}) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btnBlue">Publier <span class="glyphicon glyphicon-share"></span></button>
                </div>
            {{ form_end(commentForm) }}
        </div>
        <div class="row">
            <a class="btn col-xl-2 col-xs-offset-5 btnBlue" href="{{ path('home') }}#accordion">Retour au livre<br><span class="glyphicon glyphicon-book"></span></a>
        </div>
    </div>
{% endblock %}