{% extends "layout.html.twig" %}

{% block title %}Commentaire sur le {{ article.title }}{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="titleComment">{{ article.title }}</h2><hr>
        <div id="commentDesign">
            <h3>Commentaires</h3>
            {% for comment in comments %}
                <p class="col-xl-12"><strong>{{ comment.author }} a dit :</strong> {{ comment.content|nl2br }}</p><br>
            {% else %}
                <p class="col-xl-12">Il n'y a pas encore de commentaire sur ce chapitre. Souhaitez-vous être le premier à laisser un commentaire ?</p><br>
            {% endfor %}
            <div id="btnComment" class="row">
                <a class="btn col-xl-2 col-xs-offset-5" href="{{ path('home') }}#accordion">Retour au livre<br><span class="glyphicon glyphicon-book"></span></a>
            </div>
        </div>
    </div>
{% endblock %}