{% extends "layout.html.twig" %}

{% block title %}Commentaire sur le {{ article.title }}{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="titleComment">{{ article.title }}</h2><hr>
        <div id="commentDesign">
            <h3>Commentaires</h3>
            {% for comment in comments %}
                <p class="col-xl-12"><strong>{{ comment.author }} a dit :</strong> {{ comment.content|nl2br }}<br>
                <small class="pull-right">Publié le {{ comment.date }} par {{ comment.author }}</small></p><br>
            {% else %}
                <p class="col-xl-12">Il n'y a pas encore de commentaire sur ce chapitre. Souhaitez-vous être le premier à laisser un commentaire ?</p><br>
            {% endfor %}
            <hr><br>
            <h3>Ajoutez un commentaire</h3>
            {{ form_start(commentForm) }}
                <div class="form-group">
                    {{ form_errors(commentForm.author) }}
                    {{ form_widget(commentForm.author, { 'attr':  {
                        'rows': '1',
                        'class': 'form-control',
                        'placeholder': 'Entrez votre pseudonyme',
                        'value': ''
                    }}) }}
                    {{ form_errors(commentForm.email) }}
                    {{ form_widget(commentForm.email, { 'attr':  {
                        'rows': '1',
                        'class': 'form-control',
                        'placeholder': 'Entrez votre Email',
                        'value': ''
                    }}) }}
                    {{ form_errors(commentForm.content) }}
                    {{ form_widget(commentForm.content, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Entrez votre commentaire'
                    }}) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btnBlue">Publier <span class="glyphicon glyphicon-share"></span></button>
                </div>
            {{ form_end(commentForm) }}
        </div>
        <div class="row">
            <a class="btn col-xl-2 col-xs-offset-5 btnBlue" href="{{ path('home') }}#accordion">Retour au livre<br><span class="glyphicon glyphicon-book"></span></a>
        </div>
    </div>
{% endblock %}